<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update</title>
  </head>
  <body>
    <h1>Update task</h1>
    <form id="taskForm" action="/update-task?id=<%=id%>" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%=title%>" required />
      <!-- title: "go swiming" -->
      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%=description%></textarea
      >
      <!-- description: "swimming competion eldoret club" -->
      <label for="dueDate">Due Date:</label>
      <input type="date" id="dueDate" name="dueDate" required />

      <label for="category">Category</label>
      <select name="category" id="category">
        <% categories.forEach(cat=>{ %>
        <option value="<%=cat.categoryid%>"><%=cat.categoryname%></option>
        <%})%>
      </select>

      <label for="user">Assign User: </label>
      <select name="user" id="user">
        <% users.forEach(user=>{ %>
        <option value="<%=user.userid%>"><%=user.username%></option>
        <% }) %>
      </select>

      <button type="submit">Add Task</button>
    </form>
  </body>
</html>
